<!DOCTYPE html>
<html ng-app="SimpleFormsApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Simple Form Validation</title>
	    <script src="../libs/angular.min.js"></script>
    <script src="src/app.js"></script>
  </head>
  <body ng-controller="RegistrationController as reg">
    <h1>Simple Form Validation</h1>

    <fieldset>
      <legend>Registration</legend>
      <form name='regForm' novalidate>
		<div class="finput">
			<input type="text" name="username" placeholder="Pick a username"
			  ng-model="reg.user.username"
			  required
			  minlength="4"
			  ng-maxlength="10">
			  {{ reg.user.username }}
			  <p
				ng-show="(regForm.username.$error.minlength || regForm.username.$error.required
				|| regForm.username.$error.maxlength) && regForm.username.$touched">
				Username must be at least 4 characters long
			  </p>
			  <p ng-show="regForm.username.$error.maxlength && regForm.username.$touched">
				Username must not be longer than 10 characters
			  </p>
		  </div>
          <br>
		<div class="finput">
			<input type="email" name="email" placeholder="Email"
			  ng-model="reg.user.email"
			  required>
			  <p ng-show="regForm.email.$invalid && regForm.email.$touched">
				Must be a valid email address: handle@domain format
			  </p>
		  </div>
          <br>
		<div class="finput">
			<input type="text" name="phone" placeholder="Phone ###-###-####"
			  ng-model="reg.user.phone"
			  pattern="(\d{3})-(\d{3})-(\d{4})">
			  <p ng-show="regForm.phone.$invalid && regForm.phone.$touched">
				Phone must be in the format ###-###-####.
			  </p>
		  </div>
		  <br>
		  <div class="finput">
			<input type="text" name="tel" placeholder="tel ##########"
			  ng-model="reg.user.tel"
			  pattern="(\d{10})">
			  <p ng-show="regForm.tel.$invalid && regForm.tel.$touched">
				Phone must be 10 digits (LADA+local number.
			  </p>
		  </div>
          <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          </div>
      </form>
    </fieldset>

    <div id="info" ng-if="reg.completed">
      Username: {{ reg.user.username}} <br>
      Email: {{ reg.user.email}} <br>
      Phone: {{ reg.user.phone }}
    </div>

    <script src="lib/angular.min.js"></script>
    <script src="src/app.js"></script>

  </body>
</html>
